<div class="main-container">
    <div class="main-content">
        <h1> <%= mainHeader %></h1>
        <section class="profile-text">
            <p> <%= `${currentCat.type}` %></p>
            <p> <%= `${currentCat.food}` %></p>
            <p> <%= `${currentCat.size}` %></p>
            <p> <%= `${currentCat.description}` %></p>
        </section>
    </div>
</div>